body {
  background-color: #FAF7F2; 
  color: #292929; 
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header .header-img {
  flex: 1;
  background-image: url(assets/iteration-1/home-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.header-img h1 {
  color: white;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Londrina Solid';
  font-weight: 400;
}

.header-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-align: center;
}

#header-handwritten-text {
  color: #FDC913;
  font-size: 2rem;
  font-family: 'Satisfy';
  font-weight: 400;
  padding-bottom: 1rem;
}

.header-img p {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-family: 'Roboto Condensed';
  letter-spacing: 2px;
  font-weight: 300;
}

.header-img .btn {
  background-color: #FDC913;
  padding: 0.8rem 3.5rem;
  border-radius: 50px;
  border: none;
  margin-top: 1rem;
  font-weight: bold;
  color: #292929;
  font-family: 'Barlow';
  transition: 0.3s;
}

.header-img .btn:hover {
  background-color: #af8c0b;
  cursor: pointer;
}

header nav {
  width: 100%;
  background: #fff;
  padding: 12px 0;
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 2rem;                  
  margin: 0; 
}

header nav span {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: 0.3s;
}

header nav span:hover {
  background-color: #292929;
  color: white;
  cursor: pointer;
}

header nav span a {
  text-decoration: none;
  color: inherit;
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
}

.main-content-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  gap: 1rem;
}

.banner-left {
  position: relative;
}

.banner-left img {
  border-radius: 0.8rem;
}

.banner-left-text {
  position: absolute;
  top: 4rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.banner-left-text h2 {
  color: white;
  font-family: 'Quattrocento';
  font-weight: 700;
  font-size: 5rem;
  max-width: 20rem;
  line-height: 5rem;
}

.banner-left-text p {
  color: white;
  font-family: 'Barlow';
  font-size: 1.3rem;
}

.banner-left-text .btn {
  font-family: 'Barlow';
  color: #CE2829;
  background-color: white;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  border: none;
  width: 9rem;
  font-weight: 600;
  font-size: 0.8rem;
  transition: 0.3s;
  margin-top: 0.5rem;
}

.banner-left-text .btn:hover {
  color: white;
  background-color: #CE2829;
  cursor: pointer;
  border: 1px solid white;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
}

.banner-topright {
  position: relative;
}

.banner-topright img {
  border-radius: 0.8rem;
}

.banner-topright-text {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner-topright-text h2 {
  color: white;
  font-family: 'Barlow';
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 15rem;
}

.banner-topright-text .btn {
  font-family: 'Barlow';
  color: #CE2829;
  background-color: white;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  border: none;
  width: 9rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.banner-topright-text .btn:hover {
  color: white;
  background-color: #CE2829;
  cursor: pointer;
}

.banner-bottomright {
  position: relative;
}

.banner-bottomright img {
  border-radius: 0.8rem;
}

.banner-bottomright-text {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner-bottomright-text span {
  color: #CE2829;
}

.banner-bottomright-text h2{
  color: #292929; 
  font-family: 'Barlow';
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 18rem;
}

.banner-bottomright-text .btn {
  font-family: 'Barlow';
  color: #CE2829;
  background-color: white;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  border: none;
  width: 9rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.banner-bottomright-text .btn:hover {
  color: white;
  background-color: #CE2829;
  cursor: pointer;
}

.main-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 4rem;
}

.main-content-bottom-text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: center;
}

.main-content-bottom-text p {
  font-family: 'Satisfy';
  color: #CE2829;
  font-weight: 400;
  font-size: 2.2rem;
}

.main-content-bottom-text h3 {
  font-family: 'Barlow';
  color: #292929;
  font-size: 2.5rem;
  font-weight: 600;
}

.main-content-bottom nav {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  max-width: 1200px;
}

.main-content-bottom nav span {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  color: #292929;
  background-color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  text-align: center;
}

.main-content-bottom nav span:hover {
  background-color: #292929;
  color: white;
}

.main-content-bottom nav span a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-family: 'Barlow';
  width: 8rem;
}

.main-content-bottom-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.main-content-bottom-content article {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
}

article h4 {
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 2rem;
}

article .article-text {
  font-family: 'Barlow';
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #292929;
}

.article-text .fiyat {
  font-weight: 600;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color:#292929;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9rem;
  margin-top: 2rem;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid rgb(75, 74, 74);
  padding-bottom: 3rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-left h2 {
  font-family: 'Londrina Solid';
  color: white;
  font-weight: 400;
  font-size: 3rem;
  width: 15rem;
  line-height: 3rem;
  margin-bottom: 2.2rem;
}

.footer-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-address img {
  width: 2.2rem;
}

.footer-address p {
  font-family: 'Barlow';
  font-size: 400;
  font-size: 1.2rem;
  color: white;
  transition: 0.3s;
}

.footer-address p:hover {
  color: #c5c5c5;
  cursor: pointer;
}

.footer-mail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-mail img {
  width: 2.2rem;
}

.footer-mail p {
  font-family: 'Barlow';
  font-size: 400;
  font-size: 1.2rem;
  color: white;
  transition: 0.3s;
}

.footer-mail p:hover {
  color: #c5c5c5;
  cursor: pointer;
}

.footer-tel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-tel img {
  width: 2.2rem;
}

.footer-tel p{
  font-family: 'Barlow';
  font-size: 400;
  font-size: 1.2rem;
  color: white;
  transition: 0.3s;
}

.footer-tel p:hover {
  color: #c5c5c5;
  cursor: pointer;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 4rem;
}

.footer-middle h3 {
  color: white;
  font-family: 'Barlow';
  font-size: 500;
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}

.footer-middle p {
  font-family: 'Barlow';
  font-size: 400;
  font-size: 1.2rem;
  color: white;
  transition: 0.3s;
}

.footer-middle p:hover {
  cursor: pointer;
  color: #c5c5c5;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 1rem;
}

.footer-right h3 {
  color: white;
  font-family: 'Barlow';
  font-size: 500;
  font-size: 1.7rem;
}

.footer-right .footer-images {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-images-top {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  border-radius: 3px;
}

.footer-images-bottom {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  border-radius: 3px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2rem 22.6rem;
}

.footer-bottom p {
  color: white;
  font-weight: 400;
  font-family: 'Barlow';
}

.footer-bottom i {
  color: white;
}


@media (max-width: 768px) {
  body {
    background-color: #FAF7F2;
  }

  /* HEADER */

  .header-img {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Dikey ortalama */
    align-items: center; /* Yatay ortalama */
    text-align: center;
  }

  .header-img h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }

  .header-text #header-handwritten-text {
    display: none;
  }

  .header-text p {
    font-size: 3.5rem;
    line-height: 1.1;
    width: 20rem;
  }

  .header-img .btn {
    margin-top: 2rem;
    padding: 0.9rem 2.2rem;
    font-size: 1rem;
    border-radius: 30px;
  }

  /* HEADER NAV */
  header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 1rem;
  }

  header nav span {
    width: 40%;
    padding: 0.8rem 1.2rem;
  }

  /* MAIN CONTENT */
  
  .main-content-top {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .banner-left,
  .banner-topright,
  .banner-bottomright {
    width: 90%;
    margin: 0 auto;
  }

  .banner-left-text,
  .banner-topright-text,
  .banner-bottomright-text {
    top: 1.5rem;
    left: 1.5rem;
  }

  .banner-left-text h2 {
    font-size: 3.5rem;
    text-align: left;
  }

  .banner-topright-text h2,
  .banner-bottomright-text h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: left;
  }

  .banner-topright-text .btn,
  .banner-bottomright-text .btn {
    padding: 0.5rem 0.5rem;
    font-size: 0.7rem;
  }

  /* MAIN CONTENT BOTTOM */
  .main-content-bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .main-content-bottom nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 3rem auto;
  }

  .main-content-bottom nav span {
    width: 45%;
  }

  .main-content-bottom-content {
    flex-direction: column;
    gap: 2rem;
  }

  .product-card {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .product-card img {
    width: 80%;
    margin: 0 auto;
  }

  /* FOOTER */
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 3rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem auto;
  }

  /* FONTS OPTIMIZATION */
  h2, h3 {
    text-align: center;
  }

  p {
    line-height: 1.5;
  }
}
